.container {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}

input,
label,
button,
#total {
    display: block;
    margin-left: 50px;
}

label,
#total {
    margin-top: 10px;
}
